* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;

}

main,#Projects,#contact,footer {
  padding: 2rem;
  background-color: hsl(0, 0%, 13%);
  color: hsl(0, 0%, 100%);
}

#What-I-Do,#About {
  padding: 2rem;
  background-color: hsl(0, 0%, 19%);
  color: hsl(0, 0%, 100%);
}

nav {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2rem;
  justify-content: space-around;
  padding: 2rem;
}

h2{
  text-align: center;
  line-height: 2;
  justify-content: center;
  font-size:2rem;
}
a{
  text-decoration: none;
}
li {
  list-style: none;
}

/* navigation bar */
main .fa-facebook{
  margin-left: 1rem;;
  padding: 0;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  border-radius: 50%;

}
main .fa-github{
  margin-left: 1rem;;
  padding: 0;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  border-radius: 50%;

}
main .fa-linkedin-in{
  margin-left: 1rem;;
  padding: 0.15rem;
  font-size: 1.2rem;
  color:hsl(0, 0%, 13%) ;
  background:hsl(0, 0%, 100%);
  border-radius: 50%;

}

.brandIcon {
  width: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.nav-link-ul {
  display: flex;
  grid-gap: 2.5rem;
  justify-content: center;
  /*not important */
}

.hamberger-menue {
  display: none;
}

/*mobile size - hamberger */
@media (max-width: 44rem) {
  .nav-link-ul {
    position: fixed;
    z-index: 1;
    inset: 0 0 0 40%;
    background-color: hsl(0 0% 40% /0.95);
    flex-direction: column;
    padding: 2rem;
    transform: translateX(100%);
  }

  .nav-link-ul[data-visible="true"] {
    transform: translateX(0%);
  }

  .hamberger-menue {
    position: absolute;
    display: block;
    z-index: 9;
    background: url("images/bar_24dp.svg");
    width: 1.5rem;
    padding: 0;
    border: 0;
    aspect-ratio: 1;
    top: 4rem;
    right: 10px;
  }

}

/* click activate and hover */
.nav-link:hover {
  color: hsl(59, 100%, 65%);
  border-bottom: solid;
  border-bottom-color: hsl(59, 100%, 65%);
  padding: 2px;

}
.fa-facebook:hover {
  color: hsl(59, 100%, 65%);
}
.fa-github:hover {
  color: hsl(59, 100%, 65%);
}
.fa-linkedin-in:hover{
  background-color: hsl(59, 100%, 65%);
}
/* .main-Section */
.main-Section {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 25rem;
  text-align: center;
  padding:10rem;
}

.main-Section > *{
  flex: 1;


}
.Aden-Waller-Logo {
  display: block;
  padding: 0;
}

 h1 {
  line-height: 2;
  font-size: 2.35rem;
  font-weight: 300;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

article.main-Sec-article {
  text-align: left;
  padding:0.5rem;
}
/* mobile sized */
@media (max-width: 48rem){
  .main-Section {
    width: 19.5rem;
    padding:3rem;
  }
h1 {
    font-size: 1.928rem;
    font-weight: bold;
    padding: 0;
}

}

/* #What-I-Do section */

.What-I-Do-articles-dev{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}
#What-I-Do article{
  background-color: hsl(48, 99%, 65%);
  color: black;
  display: flex;
  flex-direction: column;
  width: 10rem;
  text-align: center;
  padding:1rem;
  margin: 2rem;
  justify-content: center;
  border-radius: 1rem;
}
#What-I-Do article:hover{
  transform: scale(1.03);
}

#What-I-Do article > *{
  flex: 1;
}
#What-I-Do article p{
  font-size: 0.89rem;
}
#What-I-Do img{
  width:5rem;
}
.A1,.A3,.A4{
  line-height: 2.5rem;
}



/* #Projects section */
.projects-articles-dev{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

#Projects article{
  background-color: hsl(48, 99%, 65%);
  color: black;
  display: flex;
  flex-direction: column;
  height: 12rem;
  width: 25rem;
  text-align: left;
  padding:1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.projects-articles-dev header{
  padding-bottom: 1rem;
}

#Projects article:hover{
  transform: scale(1.03);
}
/* mobile sized */
@media(max-width: 33.95rem){
  #Projects article{
    height: 18rem;
}}

/* #About section */

#About h2{
  text-align: center;
}
.About-div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  justify-content: center;

}
.About-cont-div{
  width: 25%;
  padding:1rem;
  justify-content: center;
  text-align: center;

}
#About article{
  padding: 2rem;
  width: 30rem;

}
#About img{
  border-radius: 50%;
    width: 10rem;
    margin-bottom: 2.5rem;
}

#About .fa-linkedin-in{
  margin-top: 1rem;
  padding: 0.15rem;
  font-size: 1.2rem;
  color:hsl(0, 0%, 19%) ;
  background:hsl(0, 0%, 100%);
  border-radius: 50%;
}

#About .fa-facebook{
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  border-radius: 50%;
  margin-right: 2rem;
}
#About .fa-github{
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  border-radius: 50%;
  margin-left: 2rem;
}
#About .fa-facebook:hover {
  color: hsl(59, 100%, 65%);
}
#About .fa-github:hover {
  color: hsl(59, 100%, 65%);
}
#About .fa-linkedin-in:hover{
  background-color: hsl(59, 100%, 65%);
}

@media (max-width:42rem){
  .About-cont-div{
    width: 50%;


  }
}
/* #contact section */
#contact{
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right:5rem;
  padding-bottom: 3rem;
}
.contact-section{
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  grid-gap: 2rem;
}
#contact article{
  padding-right: 3rem;
  padding-left: 5rem;

  width: 30rem;
}
form {
width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

input , textarea {
  background-color: hsl(48, 99%, 65%);
  border-radius: 10px;
  padding: 10px;
  width: 20rem;
  border: 0;
  margin: 10px 0;
  font-size: 16px;
  outline: none;

}
form button{
  padding: 10px;
  background: hsl(0, 0%, 19%);
  color:hsl(48, 99%, 65%);
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  width: 21.5rem;
}
/* footer */
footer{
  padding-top: 3rem;
  padding-left: 9rem;
  padding-right:5rem;
  padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    grid-gap: 2rem;
}

.name-h3{
  color: hsl(48, 99%, 65%);
  font-size: 1.5rem;
}
h4{
font-weight: lighter;
}
.sec-1{
width: 35%;
line-height: 1.5rem;
}
.sec-2{
  width: 20%;
  line-height: 1.5rem;
}
.sec-3{
  line-height: 1.5rem;
}
.sec-4{
    width: 25%;
    text-align: center;
  }

footer .fa-linkedin-in{
    padding: 0.15rem;
    font-size: 1.2rem;
    color:hsl(0, 0%, 19%) ;
    background:hsl(0, 0%, 100%);
    border-radius: 50%;
  }

  footer .fa-facebook{
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-right: 2rem;
  }
footer .fa-github{
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-left: 2rem;
  }
footer .fa-facebook:hover {
    color: hsl(59, 100%, 65%);
  }
footer .fa-github:hover {
    color: hsl(59, 100%, 65%);
  }
footer .fa-linkedin-in:hover{
    background-color: hsl(59, 100%, 65%);
  }



  @media (max-width: 920px){
  footer{
    flex-wrap: wrap;
    padding: 3rem;
  }
 .contactIcon{
   display: flex;
   flex-direction: row;
 }
  }
